body {
    background-image: url(resources/images/767.jpg);
    background-attachment: fixed;
    background-size: 100%;
    color: #001379;
}

header {
    text-align: right;
    background: url(resources/images/ocean4.jpg) center bottom;
    font-family: fantasy;
    color: #b5fff8;
    outline: 3px solid #000000;
    border: 3px solid #fff;
    padding-bottom: 0.4%;
    padding-right: 1.5%;
}

#name {
    font-size: 270%;
}

#group {
    font-size: 150%;
}

#left {
    float: left;
    width: 23%;
    padding-left: 3px;
    color: #001379;
}

#audio {
    outline: 3px solid #000000;
    border: 3px solid #fff;
    margin-top: 8px;
    width: 98%;
}

#tableX {
    margin-top: 5px;
}

.Xclass {
    margin-right: 3px;
    background: #b5fff8;
    color: #001379;
}

.Xclass:hover, #begin:hover{
    background: #a5d6f3;
}

#tableX, #tableR{
    text-align: center;
}

#addButton {
    width: 60%;
    background: #b5fff8;
    color: #001379;
    margin-left: 19%;
    margin-bottom: 8px;
}

canvas {
    outline: 3px solid #000000;
    border: 3px solid #fff;
}

#leftTop {
    background: url(resources/images/ocean8.jpg);
    outline: 3px solid #000000;
    border: 3px solid #fff;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 8px;
}

#y {
    width: 86%;
}

.right {
    float: right;
    color: #001379;
    margin-top: 8px;
}

#begin {
    width: 100%;
    outline: 3px solid #000000;
    border: 3px solid #fff;
    background: #b5fff8;
    font-size: 12pt;
    color: #001379;
    margin-top: 8px;

}

#tableRes {
    width: 100%;
    background: url(resources/images/ocean9.jpg);
    outline: 3px solid #000000;
    border: 3px solid #fff;
    margin-top: 8px;
}

.headTable {
    text-align: center;
}
